:root {
    --primary: #6d4c41;
    --background: #faf3e0;
    --text: #3e272e;
    --button: #c8a96a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  overflow-x: hidden;
}


nav {
    height: 80px;
    width: 100%;
    background-color: var(--text);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    height: 60px;
    width: 60px;
    margin-left: 80px;
    margin-top: 4px;
    border-radius: 19%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 40px;
}

ul li a {
    text-decoration: none;
    flex-wrap: wrap;
     padding: 14px 14px;
    color: white;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 20px;
    font-size: 1.2rem;
    border: 2px solid white;
    border-radius: 20%;
    box-shadow: rgba(237, 235, 235, 0.35) 0px 5px 15px;;
}

ul li a:hover {
    color: var(--button);
    background-color: white;

}

main {
    background-color: white;
    /* height: 500px; */
    width: 100%;
    /* margin-top: 200px; */
    padding-bottom: 40px;
}

.footer {
    background-color: var(--text);
    color: var(--background);
    padding: 40px 20px;
    display: flex;                 
    justify-content: space-around;
    flex-wrap: wrap;     
    margin-top: 220px;        
}

.footer-ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.footer-ul li {
    margin-bottom: 5px;
    font-size: 1rem;
}

.footer-ul li:hover{
   color: var(--button);
}

.last {
    background-color: #3e272e;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.home-section h2 {
    text-align: center;
    margin-top: 18px;
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    margin: 0 300px;
    margin-top: 40px;
    /* margin-top: 100px; */
}

.home-section p {
    text-align: center;
    margin-top: 18px;
    color: var(--text);
    font-weight: 800;
    font-size: 1.3rem;
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    margin: 0 100px;
    margin-top: 40px;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*1 row me 3 image*/
    gap: 40px;
    margin: 30px auto;
    max-width: 900px;   

}

.boxes img:hover {
    box-shadow: 0 8px 20px rgba(218, 165, 32, 0.35);
    border: 3px solid black;
}


.boxes img  {
    width: 200px;
    height: 180px;
    overflow: hidden;
    transition: 0.3s;
    margin-left: 10px;
}


.box1 h5 {
    text-align: center;
    font-size: 1.3rem;
    color: var(--text);
    margin-left: 20px;
    margin-right: 70px;
}

.boxes .box-para {
    text-align: center;
    font-size: 1rem;
    color: var(--background);
    background-color: var(--text);
    margin-top: 8px;
    /* margin-left: 10px; */
}

.boxes .box-para:hover {
    color: var(--primary);
    background-color: white;
}

.box1 {
  position: relative;
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--button);
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;

  opacity: 0;                
  transition: opacity 0.3s ease;
  pointer-events: none;
}




/* about page */
.about-section h2 {
    text-align: center;
    color: black;
    margin-top: 30px;
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    margin: 0 300px;
    margin-top: 40px;
}

.about-section img {
    margin-left: 360px;
    margin-top: 18px;
    height: 240px;
    width: 250px;
    border-radius: 16%;
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}

.about-section img:hover {
    box-shadow: 0 0 20px rgba(236, 209, 59, 0.5); 
    border: 3px solid snow;
}

.about-section p {
   text-align: center;
    color: brown;
    font-weight: 700;
    margin: 0 120px;
    margin-top: 30px; 
}

.about-section p:hover {
      text-shadow: 0 0 8px rgba(255, 215, 0, 0.8);
      background-color: aliceblue;
      color: #3e272e;
}

.review-section h5 {
    text-align: center;
    color: black;
    margin-top: 30px;
    font-size: 20px;
    letter-spacing: 1px;
    text-shadow: 0 0 6px rgba(255, 215, 0, 0.6);
    transition: 0.3s ease;
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    margin: 0 350px;
    margin-top: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;              /* cards ke beech space */
    margin-top: 30px;
    flex-wrap: wrap;        /* mobile me neeche aane ke liye */
}

/* card click krne pr js ki help se color change honge */
.cards div.active {  
  background-color: #faf3e0;
  color: #3e272e;
  border: 2px solid var(--text);
}


.card1, .card2, .card3, .card4 {
    width: 190px;
    padding: 10px;
    border-radius: 12px;
    background-color: #D2B48C;   
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    color: black;
}

.card1 h6,.card2 h6,.card3 h6,.card4 h6 {
    text-align: center;
    margin-top: 15px;
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: black;
}


.card1 p,.card2 p,.card3 p,.card4 p {
    text-align: center;
    font-size: 0.9rem;
    margin: 5px 5px;
    line-height: 1.4;
}

.gallery-section h2,
.gallery-section h4 {
  text-align: center;
  color: black;
  margin: 40px auto;
  padding: 16px 20px;
  max-width: 700px;
  box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
}



.gallery-section h4:hover {
    background-color: #c8a96a;
    color: #3e272e;
}

.gallery-section .images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin: 40px auto;
    max-width: 1100px;
}

.images h5 {
    margin-top: 10px;
    color: brown;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
     box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
}

.images img {
    height: 130px;
    width: 140px;
    /* margin-bottom: 30px; */
}

.images img:hover {
     box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
     height: 150px;
     width: 150px;
     border: 2px solid var(--button);
}

form {
    margin-top: 80px;
    height: auto;             
    width: 220px;
    border: 3px solid var(--text);
    margin-left: auto;         
    margin-right: auto;        
    background-color: #D2B48C;
    padding: 10px;             
}

form h2 {
    text-align: center;
    color: brown;
    margin-top: 20px;
}

.label {
    margin-left: 14px;
    margin-top: 10px;
}

#successMsg {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  color: green;
  display: none;
}

input {
    background-color: #c8a96a;
    width: 90%;               
    margin-left: 10px;         
}

button {
    margin-left: auto;         
    margin-right: auto;       
    display: block;            
    margin-top: 8px;
    padding: 8px 8px;
    font-size: 15px;
    background-color: #6d4c41;
    color: var(--button);
    cursor: pointer;
}

button:hover {
    background-color: #faf3e0;
    color: var(--text);
}

.contact-section h3 {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    color: brown;
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    margin-left: auto;        
    margin-right: auto;       
    margin-top: 40px;
    font-size: 1.5rem;
    width: fit-content;       
}

.contact-section h2 {
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    margin-left: auto;         
    margin-right: auto;        
    margin-top: 40px;
    font-size: 1.5rem;
    width: fit-content;       
}


/* media query */

/* navbar */
@media (max-width: 600px) {  

  nav {
    height: auto;
    flex-direction: column;
    padding: 10px 0;
  }

  img {
    margin: 0;
    margin-bottom: 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  nav ul li {
    margin: 10px 0;
  }

  ul li a {
    margin: 0;
    font-size: 1rem;
    padding: 10px 20px;
  }
}

/* footer */

@media (max-width: 600px){
.footer {
    flex-direction: column;
    text-align: center;
    margin-top: 100px;        
}

.footer-ul {
   margin-bottom: 20px;
}

.footer-ul li {
    font-size: 0.9rem;
}

.last {
    padding: 10px;
    font-size: 1rem;
}
}

/* home page */
@media (max-width: 600px) {
    .home-section {
        padding: 20px 10px;
        margin-top: 200px;
    }

    .home-section h2 {
        font-size: 1.5rem;
        margin: 20px auto;
        max-width: 90%;
        text-align: center;
    }
    .home-section p {
        font-size: 1rem;
        margin: 15px auto 30px auto;
        max-width: 90%;
        text-align: center;
    }
    .boxes {
        grid-template-columns: 1fr;  /* stack verticle */
        gap: 15px;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 5px;
    }

    
    .box1 img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .box1 h5 {
        font-size: 1.2rem;
        margin: 5px 0;
    }

    .box-para {
        font-size: 0.95rem;
        padding: 6px 10px;
        margin: 5px auto;
        width: fit-content;
    }
    .hover-text {
        font-size: 12px;
        padding: 5px 8px;
    }
}



/* hamburger */
.hamburger-menu {
  font-size: 28px;
  color: white;
  cursor: pointer;
  display: none;
}

/* hamburger-menu */
@media (max-width: 600px) {
  .hamburger-menu {
    display: block;
  }

  nav ul {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #111;
    flex-direction: column;
    text-align: center;
  }

  nav ul li {
    padding: 15px 0;
  }
}
/* about page */
@media (max-width: 600px) {

  .about-section h2 {
    margin: 20px;
    padding: 12px;
    font-size: 1.4rem;
    text-align: center;
  }

  .about-section img {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: auto;
  }

  .about-section p {
    margin: 15px 20px;
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
  }

  .review-section h5 {
    margin: 20px;
    padding: 12px;
    font-size: 1.2rem;
    text-align: center;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card1, .card2, .card3, .card4 {
    width: 90%;
  }
}


/* gallery page  */
@media (max-width: 600px) {
  .gallery-section h2,
  .gallery-section h4 {
    text-align: center;
    padding: 14px 16px;
    margin: 20px;
    font-size: 1.2rem;
  }

  .images {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .images img {
    width: 100%;
    max-width: 180px;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  .images h5 {
    font-size: 1.2rem;
    color: black;
    text-align: center;
  }
}


/* contact page */
@media (max-width: 600px) {
    .contact-section h3 {
        font-size: 1.3rem;
        margin-bottom: 20px;
    }

    form {
        width: 90%;
        padding: 15px;
    }

    input {
        font-size: 0.95rem;
        padding: 8px;
    }

    button {
        font-size: 0.95rem;
        padding: 10px;
    }
}
